language: node_js
node_js:
  - "4"

notifications:
  email:
    recipients:
      - $NOTIFICATION_EMAIL_RECIPIENT
    on_success: change
    on_failure: always

cache:
  directories:
    - $HOME/.cache/pip
    - node_modules
    - jspm_packages

before_install:
  - npm -g install npm@latest-2
  - pip install --user codecov

install:
  - npm install
  - '[ "${TRAVIS_PULL_REQUEST}" = "false" ] && node node_modules/.bin/jspm config registries.github.auth $JSPM_GITHUB_AUTH_TOKEN || echo "Pull Request Build: skipping jspm config..."'
  - '[ "${TRAVIS_PULL_REQUEST}" = "false" ] && node node_modules/.bin/jspm install || echo "Pull Request Build: skipping jspm install..."'

script: '[ "${TRAVIS_PULL_REQUEST}" = "false" ] && node node_modules/.bin/gulp || node node_modules/.bin/gulp inspect'

after_success:
  - '[ "${TRAVIS_PULL_REQUEST}" = "false" ] && cat coverage/*/lcov.info | codecov || echo "Pull Request Build: skipping codecov...'